/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/lara-light-indigo/theme.css';

.box {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-vectores-gratis%2Fcolor-liso&psig=AOvVaw0wwxzkf_iPgl6XtVbxT-C6&ust=1734165199711000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCIjGxPqqpIoDFQAAAAAdAAAAABAE'); 
  background-size: cover;
  background-position: center; 
  border-radius: 11px; 
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 180px; 
  color: white; 
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.click {
  background-color: #000000;
  border: none; 
  border-radius: 8px; 
  font-size: 18px; 
  padding: 12px 24px; 
  color: white; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  margin-right: 25px;
}

.click:hover {
  background-color: #000000;
  color: #000000; /* Color changed from black RGB */
}

.click:focus {
  outline: none; 
}

.click:active {
  background-color: #000000;
}

.click-1 {
  background-color: #000000; 
  border: none; 
  border-radius: 8px; 
  font-size: 18px; 
  padding: 12px 24px; 
  color: white; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  margin-left: 2px;
  margin-top: 12px;
}

.click-1:hover {
  background-color: #000000;
  color: #000000; /* Color changed from black RGB */
}

.click-1:focus {
  outline: none; 
}

.click-1:active {
  background-color: #696666; /* RGB changed to hexadecimal */
}

.click-2 {
  background-color: #000000; 
  border: none; 
  border-radius: 8px; 
  font-size: 18px; 
  padding: 12px 24px; 
  color: white; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  margin-left:1068px;
  margin-top: 12px;
}

.click-2:hover {
  background-color: #000000;
  color: #000000; /* Color changed from black RGB */
}

.click-2:focus {
  outline: none; 
}

.click-2:active {
  background-color: #000000; /* RGB changed to hexadecimal */
}
